*.o
*.a
*.out
buse
driver
driver_memory_check
server
duma_*
data/
object/
test_file/
bin/
data/
tags
result/
robusta*
*log
*log
*trace*
driver
range_driver
driver_sanity
*driver
*.swp
ycsb*
cscope*
*.bin
*test.sh
bd_testcase
testing/
test_sh/
last_level_dump
*-result
